* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: #263c3f;

  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  #map {
    height: 100%;
  }

  .gm-style-iw-d{
    color:#696969;
  }

  html, body {
    height: 100%;
    margin: 5%;
    margin-top:1%;
    padding: 0;
  }

  h1{
    color: #fffafa;
    margin-top:5px;
  }

  p{
    color: #fffafa;
  }

  .title {
    font-weight: bold;
  }
  #infowindow-content {
    display: none;
  }
  #map #infowindow-content {
    display: inline;
  }

  ul{
    padding: 0;
    list-style-type: none;
  }

  li{
    border: 1px solid grey;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    text-align:center;
  }

  li>p{
    margin: 2px;
    width:50%;
    
  }

  .location-input {
    float: clear;
    margin:5px;
    margin-top:15px;
  }

  span {
    color: #fffafa;
    
  }

  .div-times{
    margin-top:15px;
  }

  .info-div {
    width:100%;
  }

  #div-graph{
    color: #0076a4;
  }

  .youtube-link{
    color: #fffafa;
  }

  .youtube-li{
    display: flex;
    flex-direction: row;
    text-align:center;
    justify-content: center;
    padding:7px;
  }


  